body {
    font-family: 'Georgia', serif;
    text-align: center;
    background-color: #ccedfa;
    color: #184759;
}

.container {
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    border: 2px solid #184759;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

blockquote {
    /* font-style: italic; */
    font-size: 18px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #276077;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #184759;
}
